/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/**
 * update style for label
 */
span.tag.label.label-info{
    display: inline-block;
    color: white;
}

/**
 * update style for dialog
 */
.note-editor .modal-dialog {
    margin: 30px auto;
    box-sizing: border-box;
}
.smart-form .modal-content .modal-title{
    padding: 10px;
}
.smart-form .note-modal-form .modal-body{
    padding: 10px;
    box-sizing: border-box;
}
.smart-form .note-modal-form .modal-footer{
    padding: 10px;
}
.smart-form .note-modal-form .modal-footer button{
    padding: 10px;
}
.smart-form .note-modal-form .modal-body h5{
    padding: 10px;
}
